@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #6b6969;
}

li, a, button {
	font-family: "Stick No Bills", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #808080;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
}

.reti_asset {
	width: 250px;
	cursor: pointer;
	margin-right: auto;
}

footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
	list-style: none;
}

footer li {
	display: inline-block;
	padding: 0px 20 px;
}

footer li a {
	transition: all 0.3s ease 0s;
}

footer li a:hover,
footer li a:focus {
	color: #0088a9;
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
}

.navbar-home {
	list-style: none;
}

.navbar-home li {
	display: inline-block;
	padding: 0px 20 px;
}

.navbar-home li a {
	transition: all 0.3s ease 0s;
}

.navbar-home li a:hover,
.navbar-home li a:focus {
	color: #0088a9;
	text-decoration: underline;
}

@media screen and (min-width: 480px) {
	.navbar-home {
		margin-left: auto;
		display: flex;
		padding: 2rem;
	}
}

button {
	margin-left: 20px;
	padding: 9px 25 px;
	background-color: rgb(205, 92, 92);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgb(113,205,227);
}


body {
	font-family: 'Stick No Bills', sans-serif;
}


section.hero {
	position: relative;
	width: 90vw;
	height: 90vh;
	background: url("../images/hero-background-1.jpg") center center #CD5C5C;
	background-size: cover;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	color: black;
}

.summary {
	margin: 0 auto;
	width: 1000px;
}

.RWTS_1 {
	width: 300px;
}

.old_retipharmacy {
  padding: 5px;
  width: 10px;
}


section.summary {
	font-size: 20;
	font-weight: 10;
}

section.hero::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #CD5C5C;
	opacity: 0.8;
	z-index: 0;
}

section.hero h1 {
	font-size: 3.5rem;
	font-weight: 600;
	margin: 0;
	margin-bottom: -2rem;
	z-index: 1;
}

section.hero h2 {
	font-size: 4rem;
	font-weight: 600;
	margin: 0;
	margin-bottom: -2rem;
	z-index: 1;
}

@media screen and (min-width: 480px) {
	.navbar-home {
		margin-left: auto;
		display: flex;
		padding: 2rem;
	}
}


section.hero p {
	font-size: 4rem;
	font-weight: 200;
	margin: 0;
	margin-bottom: 3rem;
	z-index: 1;
}


section.hero a {
	font-weight: bold;
	text-decoration: none;
	background: white;
	padding: 1rem 3rem;
	color: #CD5C5C;
	border-radius: 10px;
	z-index: 1;
}

secion.hero a:hover {
	color: black;
	background: #eee;
}

@media (max-width: 480px) {
	p {
		font-size: 1.26rem;
		line-height: 1.5;
	}
}

.navbar-learn {
	list-style: none;
}

.navbar-learn li {
	display: inline-block;
	padding: 0px 20 px;
}

@media screen and (min-width: 480px) {
	.navbar-learn {
		margin-left: auto;
		display: flex;
		padding: 2rem;
	}
}

.navbar-learn li a {
	transition: all 0.3s ease 0s;
}

.navbar-learn li a:hover,
.navbar-learn li a:focus {
	color: #0088a9;
	text-decoration: underline;